* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.standard-margin {
    margin: 1.5rem 3rem 0 3rem;
}

.standard-width {
    max-width: 1280px;
    width: 1280px;
    min-width: 1280px;
}

.dont-show-on-desktop {
    display: none;
}

a {
    text-decoration: none;
}

.opening-black {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1000;
}

body {
    overflow-y: scroll;
    scrollbar-width: none;
    background: #050505;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-image: url('./img/bodybg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Outfit', sans-serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16px);
    margin-top: 2rem;
    margin-left: calc(50vw - 640px);
    position: fixed;
    z-index: 10;
}

.header>.logo {
    display: flex;
    gap: 4px;
}

.header>nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navlinks {
    color: #FFF;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: all 0.3s ease-in-out;
}

.navlinks:hover {
    color: #78FF39;
}

.nav-button {
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: #8FEE66;
    border: 3px solid #8FEE66;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #121212;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.nav-button:hover {
    border: 3px solid rgba(143, 238, 102, 0.30);
    background: #6BE935;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./img/herogrid.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 7.5rem;
}

.hero-white-title {
    text-align: center;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 200;
    line-height: 125%;
    opacity: 0.9;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.40) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-green-title {
    text-align: center;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 200;
    line-height: 125%;
    opacity: 0.9;
    color: #78FF39;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

}

.p-text-content {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    opacity: 0.8;
}

.p-text-content.dont-show-on-phone {
    margin-top: 16px;
}

.hero-green-button-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 326px;
    padding: 3px;
    border-radius: 4px;
    background: none;
    transition: all 0.3s ease-in-out;
    margin-top: 48px;
    cursor: pointer;
}

.hero-green-button-hover:hover {
    background: linear-gradient(180deg, #3FA512 0%, #A4F183 100%);
}

.hero-green-button {
    display: flex;
    width: 320px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(143, 238, 102, 0.70);
    background: linear-gradient(180deg, #A4F183 0%, #3FA512 100%);
    box-shadow: 0px -4px 4px 0px #4ABB1A inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
    color: var(--Black, #050505);
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.hero-green-button:hover {
    display: flex;
    width: 320px;
    padding: 16px var(--spacing-4xl, 32px);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    /* border: 3px solid rgba(143, 238, 102, 0.70); */
    background: linear-gradient(180deg, #A4F183 0%, #3FA512 100%);
    box-shadow: 0px -4px 4px 0px #4ABB1A inset, 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 18px 4px rgba(143, 238, 102, 0.45);
}

.hero-logos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.hero-logos-container>h4 {
    margin-bottom: 20px;
    color: var(--White, #FFF);
    /* Desktop/Text/Medium */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 30px */
}

.supporter-chain-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.section-two {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
    margin: 80px auto;
}

.section-two-col-right,
.section-two-col-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section-two-img-holder {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.section-two-col-right>h4,
.section-two-col-left>h4 {
    margin-bottom: 8px;
    /* Desktop/Heading/H4 */
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    /* 60px */
    background: linear-gradient(136deg, #FFF 0%, #FFF 48.2%, #52525B 89.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-two-col-right>p,
.section-two-col-left>p {
    color: var(--White, #FFF);

    /* Desktop/Text/Medium */
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 30px */
    opacity: 0.7;
    margin-bottom: 40px;
}

.section-two ul>li {
    display: flex;
    gap: 20px;
    margin-bottom: 2rem;
    color: var(--White, #FFF);
}

.section-two ul>li>img {
    object-fit: contain;
}

.section-two ul>li>p {
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 27px */
}

.section-three {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 80px auto;
}

.section-three>h3 {
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 125%;
    background: linear-gradient(136deg, #FFF 0%, #FFF 48.2%, #52525B 89.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.box-border-with-gradient {
    display: grid;
    padding: 1px;
    width: 32%;
    max-width: 32%;
    min-width: 32%;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    gap: 8px;
    background: linear-gradient(141deg, #060606 0%, #0F0F0F 100%);
    border-radius: 8px;
}

.fade-light-bg {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.05;
    background: linear-gradient(0deg, #FFF 0%, #FAFAFA 50%, #FFF 100%);
    filter: blur(8px);
}

.fade-light-bg2 {
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0.05;
    background: linear-gradient(0deg, #D4D4D8 0%, #F4F4F5 50%, #D4D4D8 100%);
    filter: blur(9.818181991577148px);
}

.box>h4 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 125%;
}

.box>p {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    opacity: 0.7;
    color: var(--White, #FFF);
    text-align: center;
    line-height: 150%;
}

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.section-four>h4 {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
}

.section-four>img {
    margin-top: 24px;
}


@keyframes animate_text {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.logo-container {
    animation: animate_text 15s linear infinite;
    display: flex;
    gap: 72px;
    height: fit-content;
    margin: auto 0;
}

.logo-container>img {
    object-fit: contain;
}

.scrolling-logos {
    width: 100vw;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    margin-bottom: 56px;
    height: 100px;
    position: relative;
}

.overley-shadow {
    position: absolute;
    width: 1280px;
    margin-left: calc((100vw - 1280px)/2);
    height: 100%;
    box-shadow: 0px 0px 10px 1000px #050505, inset 0px 0px 30px 30px #050505;
}

.diamond-container {
    background: url('./img/sectionfiveBG.png'), url('./img/sectionfiveBG2.png');
    /* background: url('./img/sectionfiveBG.png'); */
    background-position: top left, bottom right;
    /* background-position: top left; */
    background-repeat: no-repeat;
    background-size: contain;
}

.section-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0 auto;
    position: relative;
}

.section-five>h4 {
    font-size: 80px;
    font-weight: 500;
    line-height: 125%;
    background: linear-gradient(135deg, #FFF 0%, #FFF 50%, #52525B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 4rem;
}

.section-five>p {
    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
    opacity: 0.8;
}

.section-five img {
    position: absolute;
    margin-top: 4rem;
}

.square-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto 3rem auto;
}

.green-one {
    margin: 0 auto;
    display: flex;
    width: 48px;
    height: 48px;
    padding: var(--spacing-sm, 6px) 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 8px);
    flex-shrink: 0;
    border-radius: 6px;
    border: 2px solid #3B7A1F;
    background: rgba(120, 255, 57, 0.20);
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.section-seven,
.section-six {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 80px auto;
    height: 1000px;
}

.section-seven>h4,
.section-six>h4 {
    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 48px;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 0.25rem;
}

.section-seven>p,
.section-six>p {
    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    opacity: 0.8;
}

.tiles-six>.tile-container-six-one {
    grid-area: tileOne;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-six>.tile-container-six-two {
    grid-area: tileTwo;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-six>.tile-container-six-three {
    grid-area: tileThree;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-six>.tile-container-six-four {
    grid-area: tileFour;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-six>.tile-container-six-center {
    grid-area: tileCenter;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-seven .tile-container-seven-one .tile-one,
.tiles-seven .tile-container-seven-two .tile-two,
.tiles-seven .tile-container-seven-three .tile-three,
.tiles-seven .tile-container-seven-four .tile-four,
.tiles-seven .tile-container-seven-center .tile-center,
.tiles-six .tile-container-six-one .tile-one,
.tiles-six .tile-container-six-two .tile-two,
.tiles-six .tile-container-six-three .tile-three,
.tiles-six .tile-container-six-four .tile-four,
.tiles-six .tile-container-six-center .tile-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 8px;
    background: linear-gradient(141deg, #060606 0%, #0F0F0F 100%);
}

.tiles-seven .tile-container-seven-center .tile-center,
.tiles-six .tile-container-six-center .tile-center {
    justify-content: center;
}

.tiles-six {
    display: grid;
    grid-template-areas:
        'tileOne tileOne    tileOne     tileFour     tileFour'
        'tileOne tileOne    tileOne     tileFour     tileFour'
        'tileTwo tileTwo    tileCenter  tileFour     tileFour'
        'tileTwo tileTwo    tileThree   tileThree    tileThree'
        'tileTwo tileTwo    tileThree   tileThree    tileThree';
    gap: 1.5rem;
    margin: 3rem 0;
    width: 1280px;
    height: 1000px;
}

.tile-img-holder {
    border-radius: 6px;
    background: #1B1B1B;
}

.tile-img-holder.two,
.tile-img-holder.four,
.tile-img-holder.three,
.tile-img-holder.one {
    width: 100%;
    height: 100%;
}

.tiles-h4 {
    color: #FFF;
    font-family: Outfit;
    font-size: 28px;
    font-weight: 500;
    line-height: 125%;
    margin-top: 1rem;
}

.tile-p {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    opacity: 0.7;
}

.tiles-seven>.tile-container-seven-one {
    grid-area: tileOneP;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-seven>.tile-container-seven-two {
    grid-area: tileTwoP;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-seven>.tile-container-seven-three {
    grid-area: tileThreeP;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-seven>.tile-container-seven-four {
    grid-area: tileFourP;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}

.tiles-seven>.tile-container-seven-center {
    grid-area: tileCenterP;
    padding: 1px;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
    border-radius: 8px;
}


.tiles-seven {
    display: grid;
    grid-template-areas:
        'tileOneP   tileOneP    tileFourP     tileFourP     tileFourP'
        'tileOneP   tileOneP    tileFourP     tileFourP     tileFourP'
        'tileOneP   tileOneP    tileCenterP   tileThreeP    tileThreeP'
        'tileTwoP   tileTwoP    tileTwoP      tileThreeP    tileThreeP'
        'tileTwoP   tileTwoP    tileTwoP      tileThreeP    tileThreeP';
    gap: 1.5rem;
    margin: 3rem 0;
    width: 1280px;
    height: 1000px;
}

.tile-img-holder7 {
    border-radius: 6px;
    background: #1B1B1B;
}

.tile-img-holder7.three,
.tile-img-holder7.one {
    width: 100%;
    height: 100%;
}

.tile-img-holder7.two,
.tile-img-holder7.four {
    height: 100%;
    width: 100%;
}

.outlined-green-dark-button {
    display: inline-flex;
    padding: var(--spacing-xl, 16px) var(--spacing-4xl, 32px);
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid rgba(120, 255, 57, 0.30);
    color: var(--Primary, #78FF39);
    font-family: Outfit;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.outlined-green-dark-button:hover {
    display: inline-flex;
    padding: var(--spacing-xl, 16px) var(--spacing-4xl, 32px);
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid rgba(120, 255, 57, 0.30);
    background: rgba(120, 255, 57, 0.08);
}

.last-section-border-gradient {
    height: 440px;
    width: fit-content;
    border-radius: 32px;
    margin: 80px auto;
    background-image: linear-gradient(180deg, #3a7a1fc7 0%, rgba(120, 255, 57, 0.226) 100%);
    padding: 1px;
}

.last-section-black-background {
    width: 100%;
    height: 100%;
    width: fit-content;
    border-radius: 32px;
    background-color: black;
}

.last-section {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/SocialVector.png'), url('./img/eclipsebg.png'), url('./img/buttomgrid.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.last-section>h5 {
    font-family: Outfit;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    background: linear-gradient(135deg, #FFF 0%, #FFF 50%, #52525B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;
}

.last-section>p {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-top: 0.5rem;
    opacity: 0.6;
}

.social-media {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
}

.social-media svg {
    cursor: pointer;
}

.social-media div:hover path {
    fill: #78FF39;
}

.footer {
    background: #0F0F0F;
    padding: 5rem 0 182px 0;
    background-image: url('./img/footerbg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-content-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-media-logo-container {
    display: flex;
    gap: 0.5rem;
}

.social-media-logo-container>div {
    cursor: pointer;
}

.social-media-logo-container>div>svg>path {
    transition: all 0.3s ease-in-out;
}

.social-media-logo-container>div:hover>svg>path {
    opacity: 1;
}

.left-side p {
    color: #737373;
    font-family: Outfit;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 5rem;
}

.right-side>div {
    width: fit-content;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-side p {
    color: rgba(255, 255, 255, 0.40);
    font-family: Outfit;
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.right-side a {
    color: rgba(255, 255, 255, 0.60);
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: all 0.3s ease-in-out;
}

.right-side a:hover {
    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    text-decoration-line: underline;
}

@media only screen and (max-width: 768px) {
    .dont-show-on-phone {
        display: none;
    }

    .dont-show-on-desktop {
        display: block;
    }

    main,
    body,
    html {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        background-image: none;
    }

    a {
        text-decoration: none;
    }

    .mobile-nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(16px);
        margin: 5vw;
        position: fixed;
        width: 90vw;
        z-index: 10;
        transition: all 0.3s ease-in-out;
    }

    .opened-menu {
        display: none;
    }

    .opened-menu.isopen {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: #18181B;
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding: 7rem 0 0 0;
        align-items: center;
        gap: 2rem;
    }

    .cross-svg {
        position: fixed;
        top: 7.5vw;
        right: 7.5vw;
    }

    .header {
        display: none;
    }

    .standard-width {
        max-width: 90vw;
        width: 90vw;
        min-width: 90vw;
    }

    .hero {
        height: auto;
        padding: 3rem 2rem;
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
        height: 100vh;
        background-image: url('./img/herogrid.png'), url('./img/bodybg.png');
        background-size: 220%;
    }

    .hero-white-title {
        font-size: 34px;
    }

    .hero-green-title {
        font-size: 34px;
    }

    .p-text-content {
        color: var(--White, #FFF);
        text-align: center;
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }

    .hero-green-button-hover {
        width: 100%;
    }

    .hero-green-button {
        width: 100%;
        padding: var(--spacing-xl, 16px) var(--spacing-4xl, 32px);
        font-size: 16px;
        line-height: 16px;
        margin-top: 1.5rem;
    }

    .hero-logos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2.5rem;
    }

    .hero-logos-container>h4 {
        color: var(--White, #FFF);
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }

    .supporter-chain-container {
        gap: 1rem;
    }

    .section-two {
        flex-direction: column;
        margin: 56px auto;
        gap: 56px;
        justify-content: start;
    }

    .section-two-col-right,
    .section-two-col-left {
        width: 100%;
    }

    .section-two-img-holder {
        width: 80vw;
        height: auto;
        border: none;
        outline: none;
    }

    .section-two-img-holder>img {
        width: 80vw
    }

    .section-two-col-right>h4,
    .section-two-col-left>h4 {
        /* Mobile/Heading/H4 */
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        /* 40px */
        background: linear-gradient(136deg, #FFF 0%, #FFF 48.2%, #52525B 89.05%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section-two-col-right>p,
    .section-two-col-left>p {
        color: var(--White, #FFF);
        opacity: 0.7;
        /* Mobile/Text/Medium */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        /* 24px */
    }

    .section-two ul>li {
        margin-bottom: 1rem;
        gap: 8px;
    }

    .section-two ul>li>img {
        object-fit: contain;
    }

    .section-two ul>li>p {
        color: var(--White, #FFF);
        /* Mobile/Text/Regular */
        font-family: Outfit;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        /* 21px */
    }

    .section-three {
        gap: 40px;
    }

    .section-three>h3 {
        text-align: center;
        /* Mobile/Heading/H4 */
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        /* 40px */
        background: linear-gradient(136deg, #FFF 0%, #FFF 48.2%, #52525B 89.05%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .box-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .box-border-with-gradient {
        display: grid;
        padding: 1px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        background: linear-gradient(141deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
        border-radius: 8px;
    }

    .box {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 1.5rem;
        align-items: center;
        gap: 8px;
        background: linear-gradient(141deg, #060606 0%, #0F0F0F 100%);
        border-radius: 8px;
    }

    .box>h4 {
        font-size: 20px;
    }

    .box>p {
        font-size: 14px;
    }

    .section-four {
        margin: 128px 0 64px 0;
    }

    .overley-shadow {
        position: absolute;
        width: 100vw;
        margin-left: 0;
        height: 100%;
        box-shadow: 0px 0px 10px 1000px #050505, inset 0px 0px 30px 30px #050505;
    }

    .section-five {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 64px auto 24px auto;
    }

    .section-five>img {
        padding-top: 10px;
        width: 90vw;
    }

    .section-five>h4 {

        /* Mobile/Heading/H2 */
        font-family: Outfit;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        /* 60px */
        background: linear-gradient(135deg, #FFF 0%, #FFF 50%, #52525B 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section-five>p {
        color: var(--White, #FFF);
        text-align: center;

        /* Mobile/Text/Large */
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }

    .green-one {
        width: 32px;
        height: 32px;
        padding: 0;
        gap: 0;
        font-size: 18px;
    }

    .tiles-seven .tile-container-seven-one .tile-one,
    .tiles-seven .tile-container-seven-two .tile-two,
    .tiles-seven .tile-container-seven-three .tile-three,
    .tiles-seven .tile-container-seven-four .tile-four,
    .tiles-six .tile-container-six-one .tile-one,
    .tiles-six .tile-container-six-two .tile-two,
    .tiles-six .tile-container-six-three .tile-three,
    .tiles-six .tile-container-six-four .tile-four,
    .tiles-six .tile-container-six-center .tile-center,
    .tiles-seven .tile-container-seven-center .tile-center {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        border-radius: 8px;
        background: linear-gradient(141deg, #060606 0%, #0F0F0F 100%);
        width: 90vw;
        max-width: 90vw;
        min-width: 90vw;
        padding: 1rem;
    }

    .section-seven>h4,
    .section-six>h4 {
        color: var(--White, #FFF);

        /* Mobile/Heading/H4 */
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        /* 40px */
    }

    .section-seven>p,
    .section-six>p {
        color: var(--White, #FFF);
        /* Mobile/Text/Medium */
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        /* 24px */
        text-align: center;
    }

    .section-seven,
    .section-six {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 80px auto;
        height: auto;
    }

    .tiles-seven,
    .tiles-six {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        margin-top: 24px;
    }

    .tile-img-holder.three,
    .tile-img-holder.one,
    .tile-img-holder7.three,
    .tile-img-holder7.one,
    .tile-img-holder.two,
    .tile-img-holder.four,
    .tile-img-holder7.two,
    .tile-img-holder7.four {
        width: 100%;
        height: 30vh;
    }

    .tiles-h4 {
        color: var(--White, #FFF);
        text-align: center;
        /* Mobile/Heading/H5 */
        font-family: Outfit;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        /* 30px */
        margin-bottom: 8px;
    }

    .tile-p {
        color: var(--White, #FFF);
        text-align: center;
        opacity: 0.7;
        /* Mobile/Text/Regular */
        font-family: Outfit;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        /* 21px */
    }

    .outlined-green-dark-button {
        padding: 8px 16px;
        font-size: 16px;
        width: 100%;
    }

    .square-line-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto 1.5rem auto;
    }

    .last-section-border-gradient {
        height: auto;
        margin: 64px auto;
    }

    .last-section {
        padding: 3rem 1.5rem;
    }

    .last-section>h5 {
        font-family: Outfit;
        font-size: 32px;
        margin-bottom: .5rem;
    }

    .last-section>p {
        color: var(--White, #FFF);
        text-align: center;
        opacity: 0.8;
        font-family: Outfit;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
    }

    .social-media {
        display: flex;
        gap: 1rem;
        margin: 2rem 0;
    }

    .social-media svg {
        cursor: pointer;
    }

    .social-media div:hover path {
        fill: #78FF39;
    }

    .footer {
        background: #0F0F0F;
        padding: 5rem 0;
        background-image: url('./img/footerbg.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }


    .footer-content-container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }

    .left-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .social-media-logo-container {
        gap: 1rem;
    }

    .social-media-logo-container>div {
        cursor: pointer;
    }

    .left-side p {
        color: #737373;
        font-family: Outfit;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 150% */
        text-transform: uppercase;
    }

    .right-side {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    .right-side>div {
        width: fit-content;
        display: flex;
        gap: 8px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .right-side p {
        color: rgba(255, 255, 255, 0.40);
        font-family: Outfit;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.36px;
        text-transform: uppercase;
    }

    .right-side a {
        color: rgba(255, 255, 255, 0.60);
        font-family: Outfit;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}